h1{
    position: relative;
    left: 485px;
    top: 40px;
    font-size:65px;
 }
 ul{
     margin-left:34% ;
     list-style: none;
 }

 li{
     font-size: 25px;
 }
.stat-bar{
position: absolute;
bottom:-56px;
left: -20px;
transform:scale(0.89)
}
.stat-body{
background-color: whitesmoke;
width: 325px;
height: 22px;
border-radius: 15px;
position: relative;
}

.statValue{
    position: absolute ;
    left:350px;
    bottom:-15px
}

.progresss {
 width: 0;
 height: 100%;
 background-color: #4CAF50;
 position: absolute;
 border-radius: 15px;
 padding: 10px;

}

.NamePokemon{
    position: absolute;
    top: 180px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.genartioninfo{
position: absolute;
bottom:  220px;
left: 20px;}

/*Abilites List*/
.abilites-section{
    /*Add in the stylinf for ability section*/
    margin:0;
    padding: 0;
    position: absolute;
    left: 320px;
    top: 20px;
    text-align: center;
}

/*Abilites List*/


/*Held Item*/
.Held-item{
    position: absolute;
    top: 210px;
    left: 330px;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Held Item*/

/*moves class*/

.moves-list-class{
    height: 208px;
    width: 465px;
    background-color: #13e8e4;
    overflow-y: scroll;
    position: relative;
    top: -160px;
    left: 160px;
    border-radius: 2.8%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation:MoveScroll 10s ease-out  forwards normal;

}

.moves-list-class, .weight, .Held-item, .abilites-section, .genartioninfo, .poke-type{
    font-size:22px
}


.weight{
    position: absolute;
    top: 92px;
    left: 20px;
}

.poke-type{
    position: absolute;
    bottom: 11px;
    left: -5px;
}


/*spefic info*/

.specialist-info{
    background-color: #0ec924;
    width: 470px;
    height: 323px;
    position: relative;
    left: 230px;
    bottom: 175px;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}


/*spefic info*/

@media  screen and (max-width: 590px)  {


.arrowbtns{
    position:relative;
   scale: 0.34;
   top:30px
  
}

.RightArrow{
    position:relative;
    left:-66px;
    top:260px;    
    cursor:pointer
}

.LeftArrow{
    position:relative;
    left:205px;
    top:260px;
    cursor:pointer
}

.LeftArrow:active{
    /*Going to be used for the clicking colour*/
    opacity:0.2%;
    
}
.specialist-info{
display:none;
width:340px;
height:308px;
left: 1px;
bottom:100px
}



.RightArrow:active{
    /*Going to be used for the clicking colour*/
    opacity:0.2%;
    
}

.stat-bar{
    transform:scale(0.69)
}

.Held-item{
    position: absolute;
    top: 210px;
    left: 180px;
}

.abilites-section{
    left:190px
}


.moves-list-class{
    height: 208px;
    width: 345px;
    background-color: #13e8e4;
    flow-y: scroll;
    position: relative;
    top: -70px;
    left: -90px;
   
}
.moves-list-class, .weight, .Held-item, .abilites-section, .genartioninfo, .poke-type{
    font-size:12px
}

}

@media (max-width: 400px)  {

    .arrowbtns{
        position:relative;
       scale: 0.32;
       top:56px
      
    }
    
    .RightArrow{
        position:relative;
        left:-67px;
        top:590px;    
        cursor:pointer
    }
    
    .LeftArrow{
        position:relative;
        left:170px;
        top:590px;
        cursor:pointer
    }
    
    .LeftArrow:active{
        /*Going to be used for the clicking colour*/
        background-color:white;
        opacity:10.2%;
        
    }
    
    .RightArrow:active{
        /*Going to be used for the clicking colour*/
        background-color:white;
        opacity:10.2%;
        
    }

    .moves-list-class{
    
     display:none
    }

    .moves-list-class{
        position: relative;
        top: 70px;
        left: 90px
    }
    .specialist-info{
        display:none
        }


.stat-bar{
    bottom:20px;
    left: -80px;
   
    }
}