body{
   /* background-image: url("../imgs/c.jpg");*/
    background-size:150px;
    padding: 0;
    margin: 0;
  /*  background-size: cover;  Ensure the image covers the div */
    overflow-X:scroll;
    background-color: rgb(255, 255, 107)
}



.top-part{
    position: absolute;
    top:148.8px;
    left: 460px;
    /*top part that will come apart*/

}

.bottom-part{
    position: absolute;
    top: 433px;
    left: 460px;
    /*bottom part that will come apart*/
}


.poke-btn{
  /*  border: 6.8px solid rgb(0, 0, 0);*/
    border-radius: 70%; /* Ensures the element is a perfect circle */
     /* Adjust the padding as needed */
    width: 170px; /* Set the width and height to be equal */
    height: 160px; /* Set the width and height to be equal */
    position: absolute;
    top: 355px;
    left: 675px;
    z-index: 1;
    border: none;
    /*coooment*/

}

.pokebody{
    /*Will features to the body of the pokeball*/
    border: 3px solid black;
}
/*This is for the SEARCH button*/

#pokeget-btn{
    position: relative;
    outline: none;
    border: none;
    border-radius: 70%;
    height: 105px;
    bottom: -330px;
    left: 223px;
    background-color: white;
    font-size: 18px;
    padding-right: 23px;
    padding-left: 23px;
}

#pokeget-btn:hover{
    background-color: rgb(11, 11, 11);
    border: 3.2px solid red;
    color: white;
    font-size: 18px;
}
/*This is for the SEARCH button*/

/*This is for the go back button*/
.pokeget-GoBack{
    position: absolute;
    outline: none;
    border: none;
    border-radius: 50%;
    bottom: 350px;
    left: 60px;
    background-color: white;
    font-size: 18px;
    padding: 20px;
}

.pokeget-GoBack:hover{
    background-color: rgb(11, 11, 11);
    border: 3.2px solid red;
    color: white;
    font-size: 18px;
}
/*This is for the go back button*/


/*This is for the random button*/

.pokeget-random{
    position: relative;
    outline: none;
    border: none;
    border-radius: 70%;
    height: 105px;
    bottom: -460px;
    left: 110px;
    background-color: white;
    font-size: 18px;
    padding: 16px;
}

.pokeget-random:hover{
    background-color: rgb(11, 11, 11);
    border: 3.2px solid red;
    color: white;
    font-size: 18px;
}
/*This is for the random button*/




/*=============================================ANIMATION========================================================*/
#dex-body {
    height: 580px;
    width: 1000px;
    position: absolute;
    top: 100px;
    left: 290px;
    border: 5px solid ;
    background-color:red;
    border-radius: 2%;
    background-size: cover; /* Ensure the image covers the div */
    background-repeat: no-repeat; /* Prevent tiling */
}

.hide-away{
    display: none;
}

/*These are for the animations that going to be added to the top and bottom part of the pokeball*/
.animate-topart{
    animation:Poketop 1s ease-out  forwards normal;
}

.animate-bottompart{
    animation:Pokebottom 1s ease-out  forwards normal;
}

.anim-square{
    animation:  Info-Square-h 2s  ease-in-out normal forwards;
}

.pokeText{
    text-align: center ; 
    position: relative; 
    left: -240px;
    top: 3px; 
    font-size: 45px;
    color:white

}

@keyframes Poketop {
    0%{
        position: absolute;
        top:87.8px;
        left: 460px;

    }
    100%{
        position: absolute;
        top:-699.8px;
        display: none;
    }
}

@keyframes Pokebottom {
    0%{
        position: absolute;
        top: 347px;
        left: 460px;

    }
    100%{
        position: absolute;
        top:1019.8px;
        display: none;
    }
}

/*Going to be used to change the colour of the button*/
.btn-custom {
    background-color: #d4f34d;
    color: white;
    border: none;
}


/*=============================================ANIMATION========================================================*/

/*==================================================================MEDIA QUERY======================================================================================================*/


/* General adjustments for screens 590px or less (typical small phones) */
@media (max-width:590px) {
    body {
     /* background-color: rgb(255, 255, 107);*/
      
    }
  
    .BigText {
      position: relative;
      left: 130px;
      top: 65px; /* Merged into single declaration */
      font-size: 40px;
      color:whitesmoke
    }
  
    .stat-bar {
      transform: scale(0.7);
      margin-left: 20px;
    }
  
    .pokeText {
      position: absolute; 
      left: 150px;
      top: 25px;
      font-size: 50px;
      color: white;
    }
  
    .top-part {
      position: absolute;
      top: 125px;
      width: 430px;
      left: 70px;
    }
  
    .bottom-part {
      position: absolute;
      top: 327px;
      left: 70px;
      width: 430px;
    }
  
    #pokeget-btn {
      position: absolute;
      outline: none;
      border: none;
      border-radius: 50%;
      top: 550px;
      left: 125px;
      background-color: white;
      font-size: 14px;
      padding: 12px;
      width: 85px;
      height: 85px;
    }
  
    
    .moves-list-class {
      display: none;
    }
  
    .pokeget-random {
      position: absolute;
      outline: none;
      border: none;
      border-radius: 50%;
      top: 550px;
      left: 380px;
      background-color: white;
      font-size: 14px;
      padding: 2px 12px;
      width: 85px;
      height: 85px;
    }
  
    .pokeget-random:hover,
    #pokeget-btn:hover {
      background-color: rgb(11, 11, 11);
      border: 3.2px solid red;
      color: white;
      font-size: 14px;
    }
  
    .idtext {
      position: relative;
      top: -30px;
      left: -200px;
      font-weight: 900;
    }
  
    .poke-btn {
      border-radius: 70%;
      width: 120px;
      height: 113px;
      position: absolute;
      top: 272px;
      left: 225px;
      z-index: 1;
      font-size: 10px;
    }
  
    .pokeget-GoBack {
      bottom: 660px;
      left: 220px;
    }
  
    #dex-body {
      height: 620px;
      width: 580px;
      left: 16px;
    }
  
    .iconsection {
      position: relative;
      top: -185px;
      transform: scale(1.1); /* Corrected to use transform */
    }
  }
  
  /* Specific adjustments for even smaller screens (less than 400px, very small phones) */
  @media (max-width:400px) {
  
    h1.BigText {
      font-size: 30px;
    }
  
    .top-part {
      position: absolute;
      top: 195px;
      left: 30px;
      width: 320px;
    }
  
    .idtext {
      position: relative;
      top: -30px;
      left: 20px;
      font-weight: 900;
    }
  
    .bottom-part {
      position: absolute;
      top: 348px;
      left: 30px;
      width: 320px;
    }
  
    .poke-btn {
      border-radius: 70%;
      width: 91px;
      height: 89px;
      position: absolute;
      top: 302px;
      left: 144px;
      z-index: 1;
      font-size: 9px;
    }
  
   

 
    
  
    #pokeget-btn:hover,
    .pokeget-random:hover {
      background-color: rgb(11, 11, 11);
      border: 3.2px solid red;
      color: white;
      font-size: 11px;
    }
  }
  

    
/*===============MOBILE PHONE VERSION OF INFO CARD================*/




@media screen and (max-width: 240px){
}


/*Add a media query for a galaxy fold it would be at 280px*/




/*==================================================================MEDIA QUERY======================================================================================================*/

/*===================PROBLEMS*====================================

-NOT MOBLILE PHONE OPTIMSED 
-CREATES A DUPLICATED WHEN SPAMMED
-ADD TYPE SELECTION FOR RANDOM AND MAYBE DUAL TYPING 
-Create Random Team generator
*/

